Import method modules

In [ ]:
import pandas as pd
import numpy as np
import sklearn as skl ## Regression and classification predictive analysis
from scipy import stats ## Statistical analysis

In [ ]:
def isnumber(x):
    try:
        float(x)
        return True
    except:
        return False

Set external file location

In [ ]:
data_location = "F:\\Training\\automobile\\imports-85.data"

Read data into data frame.

In [ ]:
df = pd.read_csv(filepath_or_buffer=data_location, header=None, names = ["symboling","normalized-losses","make","fuel-type","aspiration","num-of-doors","body-style","drive-wheels",
            "engine-location","wheel-base","length","width","height","curb-weight","engine-type","num-of-cylinders",
            "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower","peak-rpm","city-mpg",
            "highway-mpg","price"])

# display all columns
pd.set_option('display.max_columns', None)

In [ ]:
display(df)

In [ ]:
df.describe() ## Summarize numeric variables
# df.columns

In [ ]:
# categorical = df.iloc[:,[2,3,4,5,6,7,8,14,15,17]].to_numpy()
# numerical =  df.iloc[:,[0,1,9,10,11,12,13,16,18,19,20,21,22,23,24,25]].to_numpy()
categorical = df.iloc[:,[2,3,4,5,6,7,8,14,15,17]]
numerical =  df.iloc[:,[0,1,9,10,11,12,13,16,18,19,20,21,22,23,24,25]]
# print(categorical)
# print(numerical)

In [23]:
numerical_map = numerical[numerical.applymap(isnumber)]
numerical_map
# numerical_map.to_csv(path_or_buf="F:\\Training\\automobile\\check.csv")

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114,5400,19,25,22625

Display data frame

In [ ]:
numerical.iloc[:,1]
pd.to_numeric(numerical.loc[:,'normalized-losses'], errors='ignore')
# np.char.isnumeric(numerical[:,1])
# str.isnumeric(numerical[:,1])
# np.char.isnumeric(['123', '?', '123?'])
# np.char.isnumeric(a)
# str.isdigit(a)
# numerical.columns
# numerical.loc[:,"normalized-losses"].str.isnumeric()
# numerical.loc[:,'normalized-losses'].mask(numerical.loc[:,'normalized-losses'].str.isnumeric() is True, np.nan, inplace=True)
# numerical.loc[:,"normalized-losses"]